.app-header {
    padding: 20px;
    background-color: #000;
}

.app-title {
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
}

nav.categories {
    padding: 40px;
    background-color: #EEE;
}

nav.categories a {
    padding: 20px 10px;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

nav.categories .active {
    box-shadow: -5px 0px 20px grey;
}

.container {
    max-width: 1024px;
    padding: 50px;
    margin: 0 auto;
}

.post-container,
.comment-container {
    border: 1px solid #d3d3d3;
    padding: 20px;
}

.right {
    text-align: right;
}

.post-title {
    border: solid black 0px;
    border-bottom-width: 3px;
    color: #000;
    display: block;
    font-weight: 600;
    padding-bottom: 10px;
    text-decoration: none;
}

.post-sorter {
    list-style-position: inside;
    text-align: right;
}

.post-sorter-list > li {
    display: inline;
    padding-left: 10px;
}

.post-title:hover {
    cursor: pointer;
    border-color: #ff0000;
}

.sort-button {
    background: none;
    border: 0;
    cursor: pointer;
}

.sort-button.selected {
    font-weight: bold;
}

.post-date,
.comment-date {
    color: #696969;
    font-style: italic;
}

.row {
    margin: 10px 0;
}

.back-button {
    text-decoration: none;
    color: black;
}

.post-comments-container {
    padding: 0;
}

.post-comments-container .comment-container:last-child {
    border-bottom: 1px solid #d3d3d3;
}

.comment-container {
    list-style: none;
    border-bottom: 0;
}

.score-container {
    text-align: right;
}

.score,
.score-vote {
    margin-right: 10px;
}

.score-container .score-vote:last-child {
    margin: 0;
}

.score-vote {
    font-size: 30px;
    padding: 5px 15px;
    background-color: #d3d3d3;
}

.new-post-container {
    margin-bottom: 20px;
}

.new-post-text {
    text-align: right;
}

.new-post-info {
    margin-bottom: 10px;
    display: flex;
}

.new-post-info input {
    font-size: 18px;
    width: 100%;
}

.new-post-info .author,
.new-post-info .title {
    margin-right: 10px;
}

.new-post,
.comment-input,
.comment-submit,
.comment-save,
.comment-cancel,
.comment-author {
    font-size: 18px;
}

.comment-cancel {
    margin-left: 10px;
}

.new-post {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.new-post-button {
    font-size: 20px;
}

.comment-action {
    text-align: right;
}

.action-delete {
    color: red;
}

.comment-author,
.comment-input {
    padding: 10px;
    margin-bottom: 10px;
}

.comment-input {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
}

.comment-form-submit {
    text-align: right;
}

.action {
    margin-left: 10px;
}
